*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $page-background;
  font-family:'Estedad', system-ui, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 16px 32px;
}

span {
  display: block;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

@font-face {
  font-family: Estedad;
  src: url('../fonts/Estedad-Thin.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: Estedad;
  src: url('../fonts/Estedad-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: Estedad;
  src: url('../fonts/Estedad-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: Estedad;
  src: url('../fonts/Estedad-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: Estedad;
  src: url('../fonts/Estedad-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: Estedad;
  src: url('../fonts/Estedad-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: Estedad;
  src: url('../fonts/Estedad-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: Estedad;
  src: url('../fonts/Estedad-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: Estedad;
  src: url('../fonts/Estedad-Black.ttf') format('truetype');
  font-weight: 900;
}






