$success: #006c49;
$error: #ba1a1a;

$success-bg: #effaf5;
$error-bg: #fff8f7;
$tag-background: #d8e2f7;
$white-bg: white;

$success-badge-bg: #a5f9d6;
$error-badge-bg: #ffdad6;

$primary: #4f46e5;

$text-primary: #0b1c30;
$text-muted: gray;
$text-white: white;

$text-lg: 16px;
$text-sm: 14px;
$text-xs: 12px;

$page-background: #f8faff;

$border-width: 2px;

$radius-input: 8px;
$radius-card: 12px;
$radius-badge: 9999px;

$ring-error: 0 0 0 4px rgba(186, 26, 26, 0.15);
